<div class="container pt-4" style="margin-top: 58px">
  <section class="mb-4">
    <div class="card">
      <div class="card-header py-3">
        <!--        tìm kiếm,sằng lọc ở đây-->
        <h5 class="mb-0 text-center"><strong>Menu</strong></h5>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-xl-4 col-sm-6 col-12 mb-4" *ngFor="let product of  products;index as i" style="margin-top: 10px">
        <!--        1 ô thông tin hiển thị sản phẩm-->
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <!--ảnh-->
                <img src="{{product.image}}" alt="1">
              </div>
              <div class="text-end">
                <h3>{{product.price}} VND</h3>
                <p class="mb-0">{{product.nameProduct}}</p>
                <p class="mb-0">{{product.category}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


