<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Create</h2>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="col-lg-12 col-md-7">
      <form [formGroup]="categoryForm" (ngSubmit)="submit()" method="post">
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="nameCategory" placeholder="nameCategory" required>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="description" placeholder="description" required>
        </div>
        <div class="form-group mt-3">
          <select formControlName="supplier" class="form-control">
            <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier.nameSupplier}}</option>
          </select>
        </div>
        <div class="text-center">
          <button [disabled]="categoryForm.invalid">Tạo mới</button>
        </div>
      </form>
    </div>
  </div>
</section>

